@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* in your tailwind.css file */
.bg-stripes::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    transparent 25%,
    rgba(255, 255, 255, 0.5) 25%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 50%,
    transparent 75%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 0.5)
  );
  background-size: 50px 50px;
  animation: stripes 2s linear infinite;
  z-index: 0;
}

@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

/* in your tailwind.css file */
.bg-moving-stripes {
  position: relative;
  background-color: black;
  overflow: hidden;
}

.bg-moving-stripes::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    transparent 25%,
    rgba(255, 255, 255, 0.5) 25%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 50%,
    transparent 75%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 0.5)
  );
  background-size: 50px 50px;
  animation: stripes 2s linear infinite;
}
